{
    "server": {
        "host": "ngrok.gotunnel.net",
        "port": 3030,
        "bufsize": 1024
    },
    "client": [
        {
            "protocol": "http",
            "hostname": "",
            "subdomain": "camera-01",
            "rport": 0,
            "lhost": "127.0.0.1",
            "lport": 80
        },
        {
            "protocol": "https",
            "hostname": "",
            "subdomain": "camera-01",
            "rport": 0,
            "lhost": "127.0.0.1",
            "lport": 80
        },
        {
            "protocol": "tcp",
            "hostname": "",
            "subdomain": "",
            "rport": 29011,
            "lhost": "127.0.0.1",
            "lport": 1935
        }
    ]
}
